{% extends 'base.html' %}
{% block header %}
    {% include 'includes/header_manager.html' %}
{% endblock %}
{% block title %}Удалить элемент заказа{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Удалить элемент заказа</h1>
        <div class="card">
            <div class="card-body">
                <p>Вы уверены, что хотите удалить элемент заказа <strong>{{ order_item.product.name }} (x{{ order_item.quantity }})</strong>?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <a href="{% url 'order_item_list' %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}