<footer class="footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>СтройТех</h5>
                <p>Качество. Надёжность. Долговечность.</p>
            </div>
            <div class="col-md-4">
                <h5>Навигация</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="/catalog/">Каталог</a></li>
                    <li><a href="/contact/">Контакты</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>Тел: +7 (800) 123-45-67<br>Email: StroyTech@mail.ru</p>
            </div>
        </div>
    </div>
</footer>