{% extends 'base.html' %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Оформление заказа</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Подтвердить заказ</button>
        </form>
    </div>
{% endblock %}
