{% extends 'base.html' %}
{% block title %}{% if form.instance.pk %}Редактировать категорию{% else %}Добавить категорию{% endif %}{% endblock %}
{% block header %}
    {% include 'includes/header_manager.html' %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="my-4">{% if form.instance.pk %}Редактировать категорию{% else %}Добавить категорию{% endif %}</h1>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="alert alert-danger">{{ form.name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                        {% if form.description.errors %}
                            <div class="alert alert-danger">{{ form.description.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a href="{% url 'category_list' %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}